# Project information
site_author: Olly Overend
site_description: Olly Overend's personal website and blog.
site_name: ollyoverend.dev
site_url: https://oliveroverend.github.io/ollyoverend.dev/

# Repository
edit_uri: edit/main/docs/
repo_name: ollyoverend.dev
repo_url: https://github.com/OliverOverend/ollyoverend.dev

# Copyright
copyright: Copyright &copy; 2025 Olly Overend

# Configuration
theme:
  custom_dir: docs/html/
  favicon: assets/images/me_square.png
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.copy
    - header.autohide
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
  font:
    code: Red Hat Mono
    text: Merriweather Sans
  icon:
    edit: material/pencil
    repo: fontawesome/brands/github
    view: material/eye
  logo: assets/images/me_square.png
  name: material
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        name: Switch to light mode
        icon: material/brightness-auto
    - media: "(prefers-color-scheme: light)"
      scheme: custom-light
      toggle:
        name: Switch to dark mode
        icon: material/weather-sunny
    - media: "(prefers-color-scheme: dark)"
      scheme: custom-dark
      toggle:
        name: Switch to system preference
        icon: material/weather-night

# Extensions
markdown_extensions:
  # Code blocks
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

  # Emoji
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - blog:
      archive_date_format: MMMM yyyy
      blog_toc: false
      pagination_per_page: 5
      post_readtime: true
      post_readtime_words_per_minute: 265
  - material/tags:
      tags_file: blog/tags.md
  - search

# Extra configuration
extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/OliverOverend
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/ollyoverend/

  home:
    buttons:
      - name: Blog
        icon: solid/clock
        url: blog/
      - name: Tags
        icon: solid/clock
        url: blog/tags/
    cards:
      # Icons can be found here: https://fontawesome.com/icons and https://github.com/FortAwesome/Font-Awesome/tree/6.x/svgs. Remember to include brands/regular/solid.
      - name: Latest Post
        url: blog/2025/06/21/managing-python-dependencies/
        icon: regular/bell
        blurb: Check out my latest post.
      - name: Recently Read
        url: blog/2025/06/20/recently-read/
        icon: brands/readme
        blurb: Check out what I've recently read.
    cover_image: assets/images/me_square.png
    description: |
      I'm a Machine Learning Engineer at AXA Insurance UK, living in London.
    tagline: Olly Overend

# Page tree
nav:
  - Home: index.md
  - Blog:
      - blog/index.md
  - Tags: blog/tags.md

# Extra CSS
extra_css:
  - stylesheets/extra.css
